/* @media (min-width: 600px){ */

* {
    box-sizing: border-box; 
    padding: 0px;
    margin: 1 px;

}

body{
 
    background-color: lightgreen;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    width: 700px; 
}

/* aside {
    order: -1;
}; */


/* .centeredWords {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

#a {
    background-color: red;
    border-style: solid;
    border: solid 1px black;    
    width: 100%;
}

#b {
    
    background-color: orange; 
    height: 600px;
    line-height: 600px;
    width: 20%;
    border-style: solid;
    border: solid 1px black;    
    float: right;
}

main {
    display: flex;
    flex-direction: column;
    background-color: yellow;
      
}

/* #mainParent{
    float: right;
} */

/* #cdParent{
    width: 760px;
    clear: both;
}
*/

#c {
    box-sizing: border-box;
    height: 200px;
    line-height: 200px;
    width: 80%;
    border-style: solid;
    border: solid 1px black;    
    float: left;    
}


/* #d {
    box-sizing: border-box;
    height: 200px;
    line-height: 200px;
    width: 380px;
    border-style: solid;
    border: solid 1px black;    
    float: right;
} */


/* #efParent{
    clear: both;
} */


#e, #f, #g, #h {
    box-sizing: border-box;
    flex-wrap: wrap;
    height: 250px;
    line-height: 250px;
    width: 190px;
    line-height: 75px;
    background-color: aqua;
    border-style: solid;
    border: solid 1px black;    
    /* float: left; */
} 

/* #f {
    box-sizing: border-box;
    height: 250px;
    line-height: 250px;
    width: 190px;
    line-height: 75px;
    border-style: solid;
    border: solid 1px black;    
    float: right;
}
#ghParent{
    clear: both;
}
#g {
    box-sizing: border-box;
    height: 250px;
    line-height: 250px;
    width: 190px;
    border-style: solid;
    border: solid 1px black;    
    float: left;    
}
#h {
    box-sizing: border-box;
    height: 250px;
    line-height: 250px;
    width: 190px;
    border-style: solid;
    border: solid 1px black;    
    float: right;
}
 */

#i {
    box-sizing: border-box;
    background-color: purple;
    height: 150px;
    line-height: 150px;
    width: 760px;
    border-style: solid;
    border: solid 1px black;    
    /* clear: both; */
}
